.datepick-inline{background:none repeat scroll 0 0 #FFF;border:1px
solid #999;box-shadow:0 0 2px #AAA;-moz-box-shadow:0 0 2px #AAA;-webkit-box-shadow:0 0 2px #AAA;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}.datepick-inline
.datepick{background:transparent}.datepick-inline .calendar-links{background-color:#ccc;background-repeat:repeat-x;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#ddd));background:-webkit-linear-gradient(top, #ddd, #ccc);background:-moz-linear-gradient(top, #ddd, #ccc);background:-ms-linear-gradient(top, #ddd, #ccc);background:-o-linear-gradient(top, #ddd, #ccc);border-bottom:1px solid #aaa}.datepick-inline .calendar-links .datepick-prev a,
.datepick-inline .calendar-links .datepick-next a,
.datepick-inline .calendar-links .datepick-prev a:hover,
.datepick-inline .calendar-links .datepick-next a:hover{color:#888;font-weight:600;text-shadow:0 1px 0 #ddd}.datepick-inline .datepick-header{color:#555;font-weight:600;text-shadow:0 1px 0 #DDD}div.datepick-inline .datepick-title-row
th{border:1px
solid #ccc;color:#555;font-weight:600;text-transform:uppercase}.block_hints .block_free, .block_hints .block_time, .block_hints .block_booked, .block_hints .block_pending, .block_hints .block_check_in_out,
.datepick-inline .datepick-days-cell{border:1px
solid #ccc;color:#757575}.block_hints .block_free,
.block_hints .block_time,
.block_hints .block_check_in_out div.check-in-div, .block_hints .block_check_in_out div.check-out-div, .datepick-inline .date_available,
.datepick-inline .timespartly.check_in_time div.check-in-div, .datepick-inline .timespartly.check_out_time div.check-out-div{background:none repeat scroll 0 0 #f5f5f5}.block_hints .block_free,
.datepick-inline .date_available,
.datepick-inline .date_available.datepick-unselectable{color:#CCC;text-shadow:0 1px 0 #FFF}.block_hints .block_free a,
.block_hints .block_time,
.datepick-inline .date_available
a{color:#89a;font-weight:600;text-shadow:0 1px 0 #fff}.block_hints .block_time,
.datepick-inline
.timespartly{background-image:url(//www.atlanticprincess.com/wp-content/plugins/booking/css/skins/../../assets/img/clock_fill.png);background-repeat:no-repeat;background-position:100% 100%}.block_hints .date_approved.block_check_in_out,
.block_hints .block_booked,
.datepick-inline .date_approved, td.timespartly.check_in_time.check_out_time.check_in_time_date2approve.check_out_time_date_approved div.check-in-div,
td.timespartly.check_in_time.check_out_time.check_out_time_date2approve.check_in_time_date_approved div.check-out-div{background-color:#C60B0B}.block_hints .date_approved.block_check_in_out,
.block_hints .block_booked,
.datepick-inline .date_approved,
.block_hints .block_booked a,
.datepick-inline .date_approved
a{color:#5F0000;font-weight:600;text-shadow:0 1px 0 #D00}.block_hints .date_approved.block_check_in_out div.check-in-div, .datepick-inline .date_approved.timespartly.check_in_time div.check-in-div{border-right:1px dotted #C60B0B}.block_hints .date_approved.block_check_in_out div.check-out-div, .datepick-inline .date_approved.timespartly.check_out_time div.check-out-div{border-left:1px dotted #C60B0B}.block_hints .date2approve.block_check_in_out,
.block_hints .block_pending,
.datepick-inline .date2approve, td.timespartly.check_in_time.check_out_time.check_in_time_date_approved.check_out_time_date2approve div.check-in-div,
td.timespartly.check_in_time.check_out_time.check_out_time_date_approved.check_in_time_date2approve div.check-out-div{background-color:#DF9A00}.block_hints .date2approve.block_check_in_out,
.block_hints .block_pending,
.datepick-inline .date2approve,
.block_hints .block_pending a,
.datepick-inline .date2approve
a{color:#850;font-weight:600;text-shadow:0 1px 0 #FA0}.block_hints .date2approve.block_check_in_out div.check-in-div, .datepick-inline .date2approve.timespartly.check_in_time div.check-in-div{border-right:1px dotted #DF9A00}.block_hints .date2approve.block_check_in_out div.check-out-div, .datepick-inline .date2approve.timespartly.check_out_time div.check-out-div{border-left:1px dotted #DF9A00}.datepick-inline .datepick-one-month .datepick .datepick-current-day{background-color:#555}.datepick-inline .datepick-one-month .datepick .datepick-current-day
a{color:#EEE;text-shadow:0 -1px 0 #000}.datepick-inline .datepick .datepick-days-cell-over{background:#aaa}.datepick-inline .datepick .datepick-days-cell-over a:hover,
.datepick-inline .datepick .datepick-days-cell-over
a{color:#eee;text-shadow:0 -1px 0 #888}td.timespartly.check_in_time.check_out_time.check_in_time_date_approved.check_out_time_date2approve span,
td.timespartly.check_in_time.check_out_time.check_out_time_date_approved.check_in_time_date2approve span,
td.timespartly.check_in_time.check_out_time.check_in_time_date2approve.check_out_time_date_approved span,
td.timespartly.check_in_time.check_out_time.check_out_time_date2approve.check_in_time_date_approved
span{font-weight:600;text-shadow:none}