pbody {
    overflow-x: hidden;
}
.hide_widget_title {
    display: none;
}
footer .y-button[type="submit"] {
    background: #3aa6f5;
}
.preloaderjs#page-preloader {
    background: rgba( 46, 46, 46, 0.99) !important;
}
#page-preloader {
    position: fixed;
    z-index: 100500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
#page-preloader .spinner {
    background: rgba(0, 0, 0, 0) url("../images/backgrounds/load.gif") no-repeat scroll center center;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1001;
}
#page-preloader .loading {
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%;
    font: 700 16px "Lato", sans-serif;
}
.commentlist .bypostauthor {
    color: #000000;
}
.commentlist li ul.children li.bypostauthor {
    color: #000000;
}
form.wpcf7-form input {
    background: hsl(210, 100%, 18%) none repeat scroll 0 0;
    border: medium none;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    height: 40px;
    line-height: 34px;
    margin-bottom: 8px;
    padding: 5px 10px;
    width: 100%;
}
.post-password-form {
    border: 1px solid #002e5b;
    display: block;
    margin: auto;
    padding: 20px;
    width: 370px;
}
.article-comment__author {
    float: left;
    padding-right: 10px;
}
.article-comment {
    border: 1px solid #002E5B;
    margin-bottom: 10px;
    padding: 10px 10px 6px;
}
form.wpcf7-form textarea {
    background: hsl(210, 100%, 18%) none repeat scroll 0 0;
    border: medium none;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    height: 100px;
    margin-bottom: 8px;
    padding: 10px;
    resize: none;
    width: 100%;
}
form.wpcf7-form .y-select_half input {
    width: 49.2%;
}
.y-blogs .y-info_pop a {
    font-weight: normal;
}
.vc_custom_heading i {
    margin-right: 3px;
    position: relative;
    top: 6px;
}
.y-insta {
    display: block !important;
}
.y-pintrst {
    background: #D50C22;
}
.y-client_testimonials p {
    font-size: 14px;
}
#y-client_testimonial {
    margin-top: 50px;
}
.y-white {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}
.y-boat_type .y-boat_info {
    padding-bottom: 15px;
}
.y-service_inner p {
    margin-top: 0;
    margin-bottom: 0;
}
.y-form>p {
    margin-top: 0;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.switcher-wrapper {
    position: relative;
    z-index: 99999;
}
.vc_row {
    margin-left: 0;
    margin-right: 0;
}
.wpb_row>.container {
    padding-left: 0;
    padding-right: 0;
}
.wpb_row {
    padding-left: 0;
    padding-right: 0;
}
.y-notsticky .header {
    position: static !important;
}
.top_info {
    text-align: right;
}
.top_info>* {
    display: inline-block;
    padding-left: 10px;
    position: inherit !important;
}
.y-login_but a::after {
    content: "";
}
.variations .label {
    border: none;
    display: block;
    color: #000000;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    border-bottom: 1px solid #dddddd;
}
.variations .value {
    padding: 5px 10px;
}
.variations select {
    margin: auto 10px auto auto;
    padding: 5px;
    width: 60%;
}
.variations .label label {
    font-weight: normal;
    position: relative;
    top: 3px;
}
.y-cart_form button {
    margin: 15px 0 10px;
    max-width: 100%;
}
.variation dd p {
    margin-top: 0;
}
.variation dd {
    margin: auto !important;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    background: #efefef none repeat scroll 0 0;
    margin-bottom: 40px;
    padding: 15px;
}
.woocommerce .woocommerce-message {
    display: none;
}
.woocommerce .woocommerce-message:first-child {
    display: block;
}
/*Search page css starts here */
.search_page .article {
    border: 1px solid #c9c9c9;
    margin-bottom: 15px;
    padding: 16px 15px;
}
.search_page h3::after,
.search_page h3::before {
    display: none;
}
.search_page h3 {
    font-size: 17px;
    font-weight: bold;
    padding: 0px;
    margin: 0;
    float: left;
}
.search_page .search_read a.btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid;
    float: none;
    margin-top: 0;
    float: right;
}
.search_page .article::after {
    clear: both;
    content: "";
    display: block;
}
.search_page h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 4px;
}
/*Search page css ends here */
.y-product_details {
    display: none;
}
.page-numbers {
    border: 1px solid;
    font-weight: bold;
    padding: 3px 8px;
}
.page-numbers.current {
    background: #000;
    color: #fff;
}
/*t edit*/
.blog-aside__block caption {
    color: #fff;
    margin-bottom: 12px;
}
.y-single_info_inner li,
.y-section_inner li {
    color: #000;
    line-height: 32px;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
}
.y-home_blog_content .y-blog_general_info li i {
    top: 8px;
}
.y-home_blog_content_inner li span {
    font-size: 14px !important;
}
strong.y-btn_bg p {
    font-weight: 500;
}
.article-comments input {
    margin-bottom: 10px;
}
.article-comments {
    margin-top: 45px;
}
.comment-respond {
    background-color: #f9f9f9;
    padding: 30px;
}
.form-submit button {
    background-color: #002e5b;
    color: #fff;
}
.form-submit button:hover {
    background-color: #3aa6f5;
    color: #fff;
}
.comment-form-comment textarea {
    min-height: 140px;
    resize: none;
}
.article-comments .row>div {
    padding: 0;
}
.article-comments .comment-respond {
    background-color: #f9f9f9;
    padding: 45px;
}
.post-password-form label {
    max-width: 360px;
    width: 100%;
}
.post-password-form input {
    border: 1px solid #bcbcbc;
    height: 48px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
.post-password-form button {
    background-color: #002e5b;
    border: 1px solid #000;
    color: #fff;
    font-size: 16px;
    height: 48px;
    padding: 10px 37px;
}
.post-password-form button:hover {
    background-color: #3aa6f5;
    border-color: #3aa6f5;
}
.search_page p::before {
    clear: both;
    content: "";
    display: block;
}
.search_page p {
    margin-bottom: 12px;
    margin-top: 37px;
}
.search_page .article:hover {
    border-color: #003d70;
}
.search_page .button:hover {
    background-color: #3aa6f5!important;
    color: #fff;
}
.y-search-submit {
    display: none;
    background-color: #002e5b;
    border: 1px solid #000;
    color: #fff;
    font-size: 16px;
    height: 38px;
    padding: 10px 30px;
}
.y-search-submit:hover {
    background-color: #3aa6f5;
    border-color: #3aa6f5;
}
.search_page .y-search-submit {
    display: block;
}
.page_404 .y-search-submit {
    display: block;
    line-height: 15px;
}
.page_404 input {
    float: left;
    border: 1px solid #002e5b;
}
.search_page input {
    float: left;
}
.widget_yachtsailing_post_widget a {
    color: #fff;
}
.widget_yachtsailing_post_widget .aside-tabs__block {
    border-bottom: 1px solid #1c1c1c;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.widget_yachtsailing_post_widget .aside-tabs__date {
    color: #3aa6f5;
    font-size: 12px;
    margin-top: 12px;
}
.widget_yachtsailing_post_widget p {
    margin: 0;
}
.y-side_bar_single .aside-tabs__links {
    margin: 25px 0;
}
.y-side_bar_single .aside-tabs__links a {
    border: 1px solid #fff;
    margin-right: 5px;
    padding: 5px 10px;
}
.y-side_bar_single .aside-tabs__links a:hover {
    border-color: #3aa6f5;
    background-color: #3aa6f5;
}
.widget_yachtsailing_post_widget img {
    color: #002e5b;
}
.widget_product_search .woocommerce-product-search input[type="search"] {
    background: #3aa6f5 none repeat scroll 0 0;
    border: 1px solid #3aa6f5;
    color: #ffffff;
    font: 400 16px/18px "Raleway", sans-serif;
    max-width: 400px;
    padding: 15px;
    width: calc(100% + 15px);
}
.y-side_bar_single .woocommerce-product-search button {
    display: none;
}
.shop-aside__desc>h4 a {
    color: #fff !important;
}
.shop-aside__desc .woocommerce-Price-amount {
    color: #3aa6f5;
}
.shop-aside__product .shop-aside__desc {
    margin-top: 0;
}
.product_list_widget .shop-aside__product {
    border-bottom: 1px solid #1c1c1c;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.y-home_blog_content p {
    margin: 15px 0;
}
.y-login_but a:after {
    margin: 0;
}
.header .fa {
    font-size: 15px;
}
.y-dest_list_single li {
    color: #000!important;
}
.y-dest_list_single h3 {
    margin-bottom: 18px;
}
.y-dest_list_single .y-button {
    margin-top: 20px;
}
.page-numbers.current {
    background-color: #002e5b;
    padding: 1px 6px;
}
.page-numbers {
  color: #002e5b;
  border: 0;
  background-color: #f0f0f0;
}
.page-numbers:hover {
    background-color: #002e5b;
    color: #fff;
}
.y-single_info_inner.container {
    padding: 30px 20px 0;
}
.y-single_info_inner.y-section_content {
    padding: 35px 35px 0;
}
.y-section_content h1::after {
    content: "";
    z-index: 999;
}
.y-breadcrum a, .y-breadcrum span {
  padding: 0 12px;
}
.y-breadcrum a::after {
    content: "";
    right: -4px;
}
.rmm.style ul li>a:not(:only-child)::before {
    content: "\f107";
    right: -1px;
    top: 13px;
    font-family: fontawesome;
}
.menu-item-has-children .menu-item-has-children .rmm-dropdown::before {
    content: "";
    display: block;
    right: 8px !important;
    top: 7px !important;
}
.menu-item-has-children .menu-item-has-children .rmm-dropdown::before {
    content: "" !important;
    display: block;
    font-family: fontawesome !important;
    font-size: 16px !important;
    right: 10px !important;
    top: 2px !important;
}
.y-our_team_list .y-team_post {
    font-size: 13px;
    height: auto;
    letter-spacing: 2px;
    min-height: 14px;
}
.y-fun_facts {
    padding: 50px 0;
}
.y-yacht_intro_img img {
    width: 100%;
}
.wpb_wrapper .vc_inner {
    //padding: 0 35px; 
}
.wpb_wrapper .vc_inner {
    padding: 0 20px;
}
.attachment-yachtsailing-product-single {
    height: auto;
    max-width: 100%;
}
.y-product_text_details h5 {
    padding-bottom: 15px;
}
.y-single_info_inner>div:first-child {
    margin-bottom: 20px;
}
.shop-item-desc__cat {
    margin-top: 6px;
    font-size: 15px;
}
.y-contact_side {
    background-color: #f0f0f0;
    padding: 25px 20px 0;
}
.white_small_font {
    color: #000!important;
}
.white_small_font span {
    float: right;
}
.wpb_wrapper .y-slideshow {
    margin-top: 50px;
}
.y-boat_type.y-section_inner {
    padding-top: 25px !important;
}
.y-corporate_block .vc_custom_1474959468427 {
    padding-bottom: 0 !important;
    padding-top: 15px !important;
}
.vc_tta-tabs-list .vc_tta-tab {
    background-color: #3aa6f5;
    float: left;
    list-style: outside none none;
    min-height: 125px;
    text-align: center;
}
.vc_tta-tab.vc_active {
    background-color: #003d70 !important;
    position: relative;
}
.vc_tta-tabs-container::after {
    clear: both;
    content: "";
    display: block;
}
.vc_tta-tabs-list {
    padding-left: 0!important;
}
.vc_tta-tab.vc_active::after {
    bottom: -18px;
    color: #003d70;
    content: "\f0d7";
    display: block;
    font-family: fontawesome;
    font-size: 60px;
    left: 0;
    position: absolute;
    right: 0;
}
.y-section_inner {
    padding-bottom: 30px;
    padding-top: 30px;
}
.y-single_blog {
    margin-bottom: 65px;
}
.menu-main-menu-container li {
    color: #fff;
    margin-bottom: 5px;
    list-style: none;
}
.menu-main-menu-container .menu-item-has-children {
    list-style: none;
}
.menu-main-menu-container .menu-item-has-children li {
    list-style: outside none square;
}
.menu-main-menu-container>ul>li>a {
    display: block;
    font-weight: 900;
    margin-bottom: 10px;
}
.y-contact .y-contact_side>div {
    background-color: #f0f0f0;
    padding: 0 5px;
}
.y-social>p {
    margin-top: 0;
}
#wpcf7-f951-p647-o1>form {
    background-color: #efefef;
    padding: 15px;
}
#wpcf7-f951-p647-o1 form .wpcf7-submit {
    border: 1px solid #002e5b;
    color: #002e5b;
}
#wpcf7-f951-p647-o1 form .wpcf7-submit:hover {
    color: #fff;
}
.y-our_services .y-servie_info h4 a {
    font-size: 17.2px;
    font-weight: 400;
    padding: 11px 5px;
}
.vc_row.wpb_row.vc_row-fluid.y-boat_type.vc_custom_1474953816010.not_custom_bg_overlay.y-section_inner.background_attachment_default {
    margin-top: 70px;
}
.wpb_wrapper .vc_inner {
    padding: 0 20px;
}
.y-client_testimonial_rating {
    margin-top: 8px;
}
.y-blogs .y-feature_post .y-blog_info h5 {
    margin-top: 10px;
}
.col-sm-6.pull-right.y-blog_info>h3 {
    margin-bottom: 8px;
}
.y-info_pop>a {
    font-weight: 600 !important;
}
.wpb_wrapper .vc_custom_1470488428978 {
    margin-bottom: 0 !important;
}
.y-popular_destination.not_custom_bg_overlay.y-section_inner {
  margin-top: 0;
}
.y-client_says_section .y-section_inner {
    padding: 75px 0;
}
#y-client_says_section .vc_column-inner {
    padding: 0;
}
#y-client_says_section {
    padding: 25px 0 10px;
}
.y-single_info .y-corporate_block .y-section_inner {
    padding-bottom: 20px;
    padding-top: 60px;
}
.y-boat_type.vc_custom_1474954790198 {
    margin-top: 50px;
}
.y-boat_selection.vc_custom_1474954539895 .wpb_wrapper>p {
    margin-top: 0;
}
.vc_row.wpb_row.vc_row-fluid.y-popular_destination.not_custom_bg_overlay.y-section_inner.background_attachment_default .vc_custom_heading {
    margin-bottom: 35px;
}
.vc_row.wpb_row.vc_row-fluid.y-popular_destination.not_custom_bg_overlay.y-section_inner.background_attachment_default {
    margin-bottom: 35px;
}
.vc_row.wpb_row.vc_row-fluid.vc_custom_1469773105305.not_custom_bg_overlay.y-section_inner.background_attachment_default {
    padding-bottom: 80px;
}
.wpb_row.vc_inner.vc_row-fluid.vc_custom_1474956615664.vc_row-has-fill.container {
    margin-bottom: 50px;
}
.wpb_text_column.wpb_content_element.y-boat_imgs>.wpb_wrapper>p {
    margin: 0;
}
.vc_row.wpb_row.vc_row-fluid.y-book_today.vc_custom_1474956653935.not_custom_bg_overlay.y-section_inner.background_attachment_default {
    margin-bottom: 30px;
}
.y-boat_selection.vc_custom_1474954539895 .y-boat_carousel.col-lg-12.clearfix.owl-carousel.owl-theme.owl-responsive-1000.owl-loaded {
    padding-right: 0;
    padding-left: 0;
}
.y-single_info_inner ul li {
    color: #000;
}
.y-single_info_inner.y-section_content {
    padding: 35px 23px 0;
}
.wpb_wrapper .vc_inner {
    padding: 0 35px;
}
.y-sidebar ul li {
    color: #fff;
}
.y-sidebar .rss-date {
    display: block;
}
.y-line {
    display: none!important;
}
.y-menu_outer .y-social a {
    color: #fff !important;
}
.y-menu_outer .y-social {
    position: absolute;
    right: 12px;
    top: 7px;
}
.custom_inner_page_class .y-product_text_details {
    margin-bottom: 50px!important;
}
.custom_inner_page_class .y-single_info .y-corporate_block .y-section_inner {
    padding-top: 10px;
}
.attachment-shop_catalog.size-shop_catalog.wp-post-image {
    height: auto;
    max-width: 259px!important;
    width: 100%;
}
.y-top_info_part .y-social a {
    font-size: 13px !important;
}
.y-header_04 .header {
    width: auto!important;
}
.container,
.y-boxed-inner,
.y-boxed .y-header_strip .header {
    max-width: 100%!important;
}
.y-footer {
    padding: 60px 0 30px;
}
.y-blog_listing .y-info_pop>a {
    margin-bottom: 5px;
    line-height: 19px;
}
.vc_custom_1470549424840 .y-info_pop>span i {
    margin-right: 0;
}
.y-section_inner .clearfix.y-landing_list h3::before {
    background: transparent;
    content: "";
}
.comment-form input,
.comment-form textarea {
    background-color: #fff;
}
.sticky {
    position: relative;
}
.row-bg-attachment-fixed {
    background-attachment: fixed;
}
.row-bg-attachment-scroll {
    background-attachment: scroll;
}
.row-bg-attachment-local {
    background-attachment: local;
}
.row-bg-attachment-inherit {
    background-attachment: inherit;
}
.owl-carousel {
    display: block;
}
.section_backround_image>div>img {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    right: 0;
    opacity: .5;
}
.custom_border>div>img {
    border-style: 2px solid #bb9a66;
}
.y-breadcrum ul {
    margin-left: -15px;
}
.y-blog_general_info li i {
    top: 8px;
}
#commentform input, #commentform textarea {
  border: 1px solid #e4e4e4;
  min-width: 100%;
  width: 100%;
}
.article__comments-author {
    margin: 12px 0 6px;
}
.article__comments-author .fa {
    margin-right: 5px;
    color: #002e5b;
}
.article__comments-author>span {
    margin-right: 18px;
}
.blog-date>div {
    display: inline-block;
    margin-bottom: 15px;
}
.blog-date__num::before {
    color: #002e5b;
    content: "\f073";
    display: inline-block;
    font-family: fontawesome;
    margin-right: 5px;
}
.y-corporate_block.container .post-password-form {
    margin: 90px auto 105px;
}
.y-corporate_block.container .post-password-form button {
    margin-top: 12px;
}
.y-inner_header {
    background-position: center 0;
}
.page-numbers.current {
    background-color: #002e5b;
    padding: 3px 8px;
}
.pagination .page-numbers {
    background-color: #f0f0f0;
    border: 0 none;
    color: #002e5b;
}
.pagination .next {
    padding: 2.7px 10px;
    position: relative;
}
.pagination .next::after {
    content: "\f105";
    font-family: fontawesome;
}
.pagination .prev {
    padding: 2.7px 10px;
    position: relative;
}
.pagination .prev::after {
    content: "\f104";
    font-family: fontawesome;
}
.pagination .page-numbers:hover {
    background-color: #002e5b;
    color: #fff;
}
.pagination .page-numbers.current {
    background-color: #002e5b;
    color: #fff;
}
.comment-respond input,
.comment-respond textarea {
    border: 0 none;
}
.comment-respond .form-submit {
    margin-top: 9px;
}
.search_page .article {
    background-color: #f2f2f2;
    border: 0 none;
}
.search_page h3 {
    float: none;
    font-size: 32px;
    margin-bottom: 15px;
}
.search_page .blog-date>div {
    margin-bottom: 0;
}
.search_page p {
    margin-top: 20px;
}
.search_page .search_read a.btn {
    float: none;
    background-color: #3aa6f5;
    border: 0;
    color: #fff;
}
body .search_page .search_read a.btn:hover {
    background-color: #002e5b!important;
}
.search_page .article {
    border-radius: 3px;
    padding-bottom: 25px;
}
.y-side_bar_single .y-side_search input {
  width: 100%;
}
.y-sidebar .search-input {
	min-width: 100%;
}
.nav-links span,.nav-links a {
	float: left;
	margin-right: 3px; 
}
.navigation.pagination {
	display: block;
}
.nav-links {
	display: block;
}
.navigation.pagination .nav-links::after {
  clear: both;
  content: "";
  display: block;
}
.y-sidebar .y-heading {
  margin-bottom: 15px;
}
.y-menu_outer {
  box-shadow: 0 12px 8px -9px #000;
  border-radius: 3px;
}
.y-header_outer .y-social a {
  margin-right: 4px;
}
.comment_container > div {
  max-width: 700px;
  width: 100%;
}
.y-sidebar input.search-input {
    color: #fff
}   
.y-login_but > a {
  display: inline-block;
  vertical-align: super;
}
.y-footer_strip {
    background-color: #002e5b;
}
.y-footer_strip p {
    color: #fff;
}
.y-contact_side {
  box-shadow: 0 40px 95px -35px #5e5e5e;
}
.item .y-boat_info a i {
  display: block;
  margin-top: 4px;
}
.item .y-boat_info span {
  margin-top: 5px;
}
.item .y-boat_info p {
  font-weight: 900;
}
.y-feature_post .y-button {
  display: inline-block;
  margin-top: 20px;
}
.y-blog_general_info .material-icons {
  display: inline-block;
  margin-top: 3.9px;
}
.y-popular_destination .y-dest_list_single  .pull-right img {
  box-shadow: -44px 0 35px -17px #d0d0d0;
}
.y-popular_destination .y-dest_list_single img {
  box-shadow: 38px 0 35px -17px #d0d0d0;
  border: 10px solid rgba(0, 0, 0, 0.02); 
}
.y-corporate_block .vc_column-inner .wpb_column.vc_col-sm-7 {
  background-image: url("../images/logo_top.png");
  background-position: 0 100%;
  background-repeat: no-repeat;
}
#y-back_to_top {
    display: none;
}
.icon_box_cover .vc_inner:nth-child(1) .wpb_column:nth-child(even) {
    background-color: #f0f0f0;
}
.icon_box_cover .vc_inner:nth-child(1) .wpb_column:nth-child(odd) {
    background-color: #f8f8f8;
}
.icon_box_cover .vc_inner:nth-child(2) .wpb_column:nth-child(odd) {
    background-color: #f0f0f0;
}
.icon_box_cover .vc_inner:nth-child(2) .wpb_column:nth-child(even) {
    background-color: #f8f8f8;
}
.icon_box_cover .vc_inner .wpb_column {
    padding-top: 20px;
    padding-bottom: 20px;
}
.icon_box_cover {
  padding-top: 0!important;
  margin-bottom: 35px!important;
}
html body.y-boxed {
  background-attachment: fixed!important;
}
.dest_cover .y-dest_list_single img {
    box-shadow: -38px 0 0 -17px #d0d0d0;
}
.y-corporate_block .dest_cover .wpb_column.vc_col-sm-7 {
    background-image: none;
}
.slider_down_box_cover .container {
  background-color: #f0f0f0!important;
  box-shadow: 0 43px 53px -63px #000;
}
.y-menu_outer .y-social a {
  margin-right: 3px;
}
.y-footer .textwidget > p {
  margin-top: -5px;
}
.y-footer .tagcloud a{
    transition: ease all 0.3s;
}
.y-footer .tagcloud a:hover {
    background-color: #002e5b; 
}   
.y-footer .menu-footer-menu-container li a:hover,.y-footer .textwidget p a:hover {
    color: #3aa6f5;
}
.y-footer .textwidget button{
    background-image: 
}
.y-button:hover::before {
  background-color: #002e5b;
  content: "";
}
.vc_custom_1474959474323 {
    margin-bottom: 30px;
}
body .inner_page_box {
    margin-bottom: 0!important;
}
.comment-form textarea {
  margin-top: 18px;
  padding: 15px;
}
#review_form_wrapper .comment-reply-title {
  display: inline-block;
  margin-bottom: 7px;
}
.variations select {
  border: 0 none;
  width: 100%;
}
.variations .value {
  line-height: 0;
  padding: 0 15px;
}
.variations .value select {
  margin: 7px 0;
}
.contact_form_01 .y-single_info_inner {
  padding: 0!important;
}
.contact_form_02 .y-contact {
    padding: 0!important; 
}
.contact_form_02 .y-contact_inner:last-child {
  background-color: #f0f0f0;
  padding: 25px 15px;
}
.contact_form_03 .y-single_info_inner {
    padding: 0!important; 
}
.custom_blog_listing .y-single_info_inner {
  padding: 0!important;
  margin-bottom: 0!important;
}
.custom_product_listing .y-boat_selection {
    padding: 0!important; 
}
.custom_slider_cover .wpb_column.row.vc_col-sm-12 {
    margin: 0!important; 
}
.custom_slider_cover .y-slideshow {
    margin-top: 0;
}
.custom_tabing_cover .vc_general {
    padding-top: 0!important;
}
.single_add_to_cart_button {
    transition: ease all 0.3s!important;
}
.single_add_to_cart_button:hover {
    background-color: #002e5b!important;
    color: #fff;
}
#menu-main-menu .rmm-back a {
  padding-right: 22px;
  text-align: right;
  background-color: #002e5b;
  color: #fff;
}
#menu-main-menu .rmm-back a:after {
    content: "\f107";
    color: #fff;
}
.y-boat_carousel .y-boat_info span {
    margin-top: 10px;
}
.y-section_content .woocommerce-Tabs-panel {
    padding: 45px 30px 40px;
    border: 1px solid #eee;   
}
.woocommerce-tabs .form-submit button {
    border: 0px;
    border-radius: 3px;
}
.woocommerce-tabs .form-submit button:hover {
    background-color: #3aa6f5!important;
}
.y-corporate_block .return-to-shop .button:hover {
    background-color: #002e5b; 
    color:#fff;
}
.y-corporate_block .cart-empty {
    text-align: center;
}
.y-corporate_block .return-to-shop {
    text-align: center;
}
.cart_totals .checkout-button:hover {
    background-color: #3aa6f5!important;
}
.cart_totals .checkout-button {
    border-radius: 3px!important;  
}
.woocommerce-form-login input {
    border: 1px solid #eee;
    padding: 6px;
    margin: 0 9px;
}
input {
    border: 1px solid #e4e4e4;
    padding: 10px; 
}
.article-comments input,.article-comments textarea{
}
.article-comment p {
  border-top: 1px solid #e1e1e1;
  margin-bottom: 0;
  margin-top: 16px;
  padding-top: 10px;
}
.article-comments .fa-long-arrow-left {
  background-color: #ededed;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  padding: 5px;
}
.article-comments .fa-long-arrow-left:hover {
  background-color: #3aa6f5;
  color: #fff;
  border-color: #3aa6f5; 
}
.article-comment__name {
    margin-bottom: 7px; 
}
.header .y-pintrst:hover {
    background-color: #CB1F27; 
}
.y-home_blog_content .vc_column-inner {
  padding: 0!important;
}
.not_custom_bg_overlay .wpb_content_element {
    margin-bottom: 5px!important
}
.y-blogs .y-section_content_full > div a {
    display: inline-block;
}
.y-breadcrum {
    display: block!important;
}
.breadcrubme_section .container .y-single_info_inner {
  background-color: #ffffff;
  margin-top: -90px!important;
  padding: 35px 50px 0;
}
.variations tr > .value {
    position: relative;
    border: 1px solid #eee; 
    background-color: transparent;
}
.variations .value .reset_variations {
  position: absolute;
  right: 0;
  top: 76px;
}
.place-order .button {
  background-color: #002e5b!important; 
}
.place-order .button:hover {
  background-color: #3aa6f5!important; 
}
#customer_details .woocommerce-form__label #createaccount {
  top: 1px;
  width: 18px;
  height: 18px;
}
.y-corporate_block  #coupon_code {
    width: 100%;
}
.checkout_coupon .form-row.form-row-last {
  float: left;
  margin: 2px 10px;
}
#customer_details .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 0;
  height: 37px;
  padding-top: 3px;
}
#customer_details .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
}
.article-comments > .row {
  margin: 20px 0 0;
}
/*t edit end*/
/* KING CSS */
.hide_this {
    display: none;
}
.search-input {
    min-width: 67%;
    padding: 8.5px 10px;
}
button.y-search-submit {
    float: right;
    margin-left: 0 !important;
    width: 32%;
}
.y-product_filters h1.y-heading {
    color: #fff;
}
.product_meta {
    margin-top: 10px;
}
@media (min-width: 1000px) {
    form#y-side_search {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    form#y-side_search {
        width: 100%;
    }
}
@media (max-width: 767px) {
    form#y-side_search {
        width: 100%;
    }
    .search-input {
        width: 67% !important;
    }
    button.y-search-submit {
        width: 32%;
    }
    .y-single_info .y-side_bar_single .y-side_search input {
	  width: 100%;
	  min-width: 100%!important;	
	}
    .comment_container .comment-form-comment textarea  {
      width: 100%!important;
      max-width: 100%!important;
    }
    .y-header_outer .container {
      height: 145px;
    }
    .y-header_01 .rmm.style ul.rmm-mobile {
      top: 15px;
    } 
    body .y-menu_outer .y-social {
      display: block;
      left: 0;
      position: absolute;
      top: -143px;
      width: 145px;
    }
    body .y-menu_outer .y-social a {
        color: #002e5b!important;
    }
    body .y-menu_outer .y-social a:hover {
        color: #fff!important;
    }
    body .y-header_02 .top_info {
      text-align: right;
    }
    body .header .container > div:nth-child(2) > div {
      padding-bottom: 0;
    }
    .rmm.style ul {
      padding-bottom: 15px;
    }
    .y-header_01 .rmm.style ul {
      padding-bottom: 0;
    }
    .y-header_04 .y-header_top_info .col-xs-12 {
        padding-bottom: 5px; 
    }
    .y-header_04 .y-menu_outer {
        padding-left: 0!important;
    }
    .y-header_04 .y-menu_outer { 
    }
    body .y-header_02 .y-menu_outer .y-social {
      top: -141px;
    }
    .y-header_02 .y-header_top_info .col-xs-12 {
        padding-bottom: 5px; 
    }
    .y-header_02 .y-header_top_info .col-xs-12 {
        padding-bottom: 5px; 
    }
    body .y-header_01 .rmm-toggled-button {
      right: 0!important;
      top: -95px!important;
      left: unset!important;
    }
    .y-header_top_info > .container {
      float: right;
      height: 49px;
      margin: 0;
      max-width: unset;
      width: 52%;
    }
    .y-menu_outer #menu-main-menu {
        background-color: #fff; 
    }
}
@media (max-width: 559px) {}
@media (max-width: 414px) {
    .y-search-submit {
        font-size: 13px;
        padding: 10px 15px;
    }
    .row.y-single_info_inner.y-section_content.page_404 {
        display: block;
        margin: 0 0 35px !important;
        min-height: 250px;
    }
}
.clear {
    clear: both;
}
.border {
    border: 3px solid red;
}
.y-single_info_inner {
    background: #fff;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}
.custom_inner_page_class .row.y-single_info_inner.y-section_content .woocommerce-pagination ul.page-numbers:hover {
    background-color: transparent !important;
}
.custom_inner_page_class .row.y-single_info_inner.y-section_content nav.woocommerce-pagination ul.page-numbers {
    border: 1px solid transparent;
}
.custom_inner_page_class nav.woocommerce-pagination ul.page-numbers {}
.custom_inner_page_class nav.woocommerce-pagination ul.page-numbers li {
    display: inline-block;
}
ul.page-numbers li span.page-numbers.current {
    padding: 3px 8px !important;
}
.custom_inner_page_class .y-single_info .row.y-single_info_inner.y-section_content .summary.entry-summary form.cart {}
.custom_inner_page_class .y-single_info .row.y-single_info_inner.y-section_content .summary.entry-summary form.cart .quantity {}
.custom_inner_page_class .y-single_info .row.y-single_info_inner.y-section_content .summary.entry-summary form.cart .quantity input.input-text.qty.text {
    height: 35px;
    padding: 0 10px;
    width: 50%;
}
.custom_inner_page_class .y-single_info .row.y-single_info_inner.y-section_content .summary.entry-summary form.cart button.single_add_to_cart_button {
    backface-visibility: hidden;
    background: rgb(225, 225, 225) none repeat scroll 0 0;
    box-shadow: 0 2px 2px rgb(191, 191, 191);
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
    font-size: 14px;
    padding: 8px 15px;
    border: 1px solid transparent;
    border-left: 5px solid rgb(0, 46, 91);
    margin: 8px 0px;
}
.custom_inner_page_class .y-single_info .row.y-single_info_inner.y-section_content .woocommerce-message {
    margin: 85px auto !important;
}
.custom_inner_page_class .y-single_info .row.y-single_info_inner.y-section_content .woocommerce-message::before {
    left: -1.5em !important;
}
.custom_inner_page_class .row.y-section_content .y-corporate_block.container.clearfix .woocommerce-message::before {
    left: -1.5em !important;
    top: 0.8em !important;
}
td.actions .coupon #coupon_code.input-text {
    height: 30px !important;
    border: 1px solid #ccc !important;
    padding: 0px 10px;
    width: 300px !important;
}
#commentform .form-submit button.submit {
    background: #002E5B;
}
.woocommerce-account-fields p.form-row.form-row-wide.create-account.woocommerce-validated label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {}
.woocommerce-account-fields p.form-row.form-row-wide.create-account.woocommerce-validated label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox input#createaccount {
    width: 10%;
    display: inline-block;
}
.woocommerce-account-fields p.form-row.form-row-wide.create-account.woocommerce-validated label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox span {
    width: 80%;
    display: inline-block;
    padding-left: 28px !important;
}
#account_password {
    height: 35px;
    padding: 0px 5px;
}
#y-single_info~.vc_row.wpb_row.vc_row-fluid.y-single_info.vc_custom_1497712040446.not_custom_bg_overlay.y-section_inner.background_attachment_default {
    padding-top: 10px !important;
}
form.variations_form.cart table.variations tbody tr td.label {
    padding: 12px 10px;
}
