/*
Theme name: Yachtsailing Child Theme
Theme URI: http://veepixel.com/demo/html/yacht/
Description: This is a child of Emmet Lite theme
Author: Ven Bradshaw
Author URI: http://veepixel.com/
Template: yachtsailing
Version: 1.0
*/

section.breadcrubme_section
{
	margin-top: 100px !important;
}
.y-product_listing_side a.add-to-cart{ display:none !important;}
.y-product_listing_side a.woocommerce-LoopProduct-link {min-height: 100% !important;}

/*.booking_form_div textarea, .booking_form_div input[type="text"], .booking_form_div select{
 background: hsl(210, 100%, 18%) none repeat scroll 0 0; !important;   
     color: hsl(0, 0%, 100%);!important;

}*/
/*.container{ width:1170px !important;}*/
.vc_row.vc_column-gap-15{ margin:auto !important;}
.booking_form_div input[type="text"], .booking_form_div select[type="text"]{background: hsl(210, 100%, 18%) none repeat scroll 0 0 !important; border: medium none !important; color: hsl(0, 0%, 100%) !important; font-size: 14px !important; height: 40px !important; line-height: 34px !important; padding: 5px 10px !important; box-sizing: inherit !important; border-radius: 0  !important;  width: 100% !important;}
.booking_form_div textarea { background: hsl(210, 100%, 18%) none repeat scroll 0 0 !important; border: medium none !important; color: hsl(0, 0%, 100%) !important; font-family: 'Raleway', sans-serif !important; font-size: 14px !important; height: 100px !important; margin-bottom: 8px; padding: 10px !important; resize: none !important;  border-radius: 0  !important;  width: 100% !important; }
#booking_form1 .wpbc_structure_form{ width:auto !important; margin:0 !important; overflow: hidden;}
#booking_form1 .wpbc_structure_form button{border: 1px solid #002E5B; color: #002E5B; argin-top: 15px; padding: 13px; background: none; box-shadow: none !important; display: block; text-transform: uppercase; font-size: 18px; text-align: center; width: 100%;  border-radius: 0  !important; text-shadow:none;}
#booking_form1 .wpbc_structure_form button:hover{background: #002e5c; color: #ffffff; font-weight: normal;}
#booking_form1 span.alert-warning{ background-color:transparent !important; border:0 !important; color: #f00 !important; font-size: 1em !important; font-weight: normal !important;} 
.y-social a { background: none; float: left;}
.colo {color: #3aa6f5 !important; margin-bottom:31px;}
.custom_home_page_class .y-contact_side { background-color:#002e5c !important; color: #fff;}
.custom_home_page_class .booking_form_div input[type="text"], .booking_form_div select[type="text"] { background:#fff !important; color: #000 !important; opacity: 1 !important; }
#booking_form1 .wpbc_structure_form button {border: 1px solid #ffff; color: #3aa6f5 }
#booking_form1 .wpbc_structure_form button:hover  {border: 1px solid #ffff; color: #000; background:#fff !important; }
.custom_home_page_class  .booking_form_div textarea { background:#fff !important; color: #000 !important; }
.custom_home_page_class  .datepick-inline {border: 1px solid #fff; box-shadow:none;}
.custom_home_page_class .vc_custom_heading{ color: #fff; }
.custom_home_page_class  .captachinput { margin-bottom: 10px;}
.blue-bok-nw .y-contact_side{background-color: #002e5c !important;}
.blue-bok-nw .y-contact_side h3{ color: #fff !important; font-weight: normal;}
.blue-bok-nw .booking_form select, .booking_form textarea, .booking_form input[type="text"]{background: #fff !important; color: #000 !important; opacity: 1 !important;}
.blue-bok-nw label.control-label{color: #fff !important;}
.img_cls{padding-left:0 !important;}
.img_cls .wpb_wrapper img{width:100%; margin-bottom: 20px;}
.img_cls h1{padding-bottom: 30px !important;}
.blue-bok-nw .captachinput{margin-bottom: 10px;}
.pdng .vc_inner{padding-left:0 !important; padding-right:0 !important;}
/*cairns-australia book now*/
.blu-bok-frm{background-color: #002e5c; padding: 25px 20px 0 20px;}
.blu-bok-frm .wpb_wrapper h3{color: #fff; font-weight: normal; font-size: 18px;  text-transform: uppercase;}
.blu-bok-frm label.control-label {color: #fff !important;}
.blu-bok-frm .captachinput {margin-bottom: 10px;}
.map_bck{padding:0 !important;}
.map_bck iframe{padding: 5px; background: #f7f7f7;}
/*cairns-australia book now*/
.cont_bck{background-color: #002e5c !important;}
.cont_bck .wpb_wrapper h3{color: #fff !important; font-weight: normal !important; font-size: 18px !important;  text-transform: uppercase !important; font-weight: normal !important;}
.cont_bck span input, textarea{background:#ffffff !important; color: #000 !important;}
.cont_bck span input::placeholder, textarea::placeholder{color:#000 !important;}
.cont_bck button{border: 1px solid #ffff !important; color: #3aa6f5 !important;}
.cont_bck button:hover{border: 1px solid #ffff !important; color: #000 !important; background:#fff !important; transform: inherit !important;}
.cont_bck button::before{background: transparent !important;}
/*.rev_slider img, .tp-simpleresponsive img {transform: translate3d(0px, 0px, 0px) scale(1.1, 1.1) !important;}*/
div.wpcf7-validation-errors {color: #e3e3e3; border: 1px solid #e3e3e3 !important; }
.mc4wp-form-theme-blue button, .mc4wp-form-theme-blue input[type="submit"] { background: #3aa6f5 !important;    border-right:#f00 5px solid;   font-weight: bold;}
div.wpcf7-mail-sent-ok { color: #e3e3e3; border: 1px solid #e3e3e3 !important; }
.mc4wp-form-theme-blue button { background:#3aa6f5 !important; border-radius: 0px !important;font-weight: bold !important; padding: 11px 19px !important;
font-size: 15px !important; border-left: 5px solid #002E5B !important;color: #fff !important; }
footer .y-button[type="submit"] {background:#3aa6f5 !important; border-left: 5px solid #002E5B !important; border: none; }
.vc_custom_1518498636187  .vc_col-has-fill { background-color:#f0f0f0 !important; color: #002E5B !important;}
.custom_home_page_class .vc_custom_heading {color:#002E5B !important;}
.y-blog_detail_content img{
    margin-bottom:20px ;
}
.vc_custom_1474953437069 .vc_custom_heading{color: #fff !important;}
.vc_custom_1474953437069 .y-contact_side {width: 30.333333%;}

/*.y-blog_detail_text {
    padding-top: 20px !important;
}*/
@media (max-width: 1170px){
.booking_form .wpbc_structure_calendar{width:100% !important;}
.booking_form .bk_calendar_frame{width:100% !important;}
.vc_custom_1474953437069 .wpb_wrapper div.col-sm-6{ margin-right:10px; width: 47%;}
.captcha_img{width:auto !important;}
.vc_custom_1474953437069 .wpb_wrapper div img{width:100%; height:100%;}
.vc_custom_1474953437069 .vc_custom_heading{color: #fff !important;}
}

@media (min-width:768px) and (max-width:1024px){
.vc_custom_1474953437069 .wpb_wrapper div.col-sm-6{ margin-right:10px; width: 47%;}
.vc_custom_1474953437069 .wpb_wrapper div img{width:100%; height:100%;}
/*.vc_custom_1474953437069 .vc_col-sm-7{padding-left:0; padding-right:0;}*/
.booking_form .wpbc_structure_calendar{width:100% !important;}
.captcha_img{width:auto !important;}

.booking_form .bk_calendar_frame{width:100% !important;}
.vc_custom_1474953437069 .vc_custom_heading{color: #fff !important;}
.wpb_wrapper .vc_inner {padding: 0 20px;}
.vc_custom_1474953437069 .vc_col-sm-4, .vc_custom_1469693466158 .vc_col-sm-4, .vc_custom_1474964690450 .vc_col-sm-4{width: 40% !important; float: right !important;}
.vc_custom_1474953437069 .vc_col-sm-1, .vc_custom_1469693466158 .vc_col-sm-1{display:none !important;}
.vc_column_container .wpb_wrapper .vc_inner{padding: 0;}
.vc_custom_1469693466158 .vc_col-sm-4{padding:0 !important;}
.booking_form_div input[type="text"]{ width: 100% !important;}
.captcha_img{margin-top:10px !important;}
#booking_form1 .wpbc_structure_form button {border: 1px solid #ffff !important; color: #3aa6f5 }
.booking_form_div input[type="text"]{min-width: 100% !important;}
.vc_custom_1474964690450 .vc_col-sm-8{width:58%;}
.vc_custom_1474964690450 .vc_col-sm-4 .vc_column-inner{padding-left: 0px; padding-right: 0px;} 
.vc_custom_1474964690450 .vc_col-sm-4 .vc_column-inner .vc_col-sm-12{padding-left: 0px; padding-right: 0px;} 
}
@media (max-width: 767px){
	.y-dest_list_single a img.img-responsive{ margin-bottom:20px;}	
    .y-header_01 .rmm.style ul.rmm-mobile{z-index: 999999999 !important; position: absolute !important; margin-top: 0 !important;}
    #menu-atlantic-main-menu{animation-name: inherit !important; position: absolute !important; top:0 !important;}
    .y-menu_outer .rmm {z-index: 999999999 !important;}
   .rmm-menu{ position: absolute !important; top:0 !important;}
   .fadeInDown{animation-name: inherit !important;}
   #booking_form_div1 .wpbc_structure_calendar{ width:auto !important;}
   .blue-bok-nw .wpb_column{padding-left:0 !important; padding-right:0 !important;}
   .bok_main .vc_column-inner{padding-left:0 !important; padding-right:0 !important;}
   .vc_custom_1518498636187  .vc_col-has-fill { background-color:#f0f0f0 !important; color: #002E5B !important;}
.custom_home_page_class .vc_custom_heading {color:#002E5B !important;}
.captcha_img{width:auto !important;}
.vc_custom_1474953437069 .y-contact_side {width: 100%;}
.vc_custom_1474953437069 .wpb_wrapper div.col-sm-6{margin:auto; width:100%;}
.vc_custom_1474953437069 .vc_col-sm-7 { padding-left:15px; padding-right:15px;}
.vc_custom_1474953437069 .wpb_wrapper div img { width: auto; height: auto;}
.vc_custom_1474953437069 .vc_custom_heading{color: #fff !important;}
.booking_form_div input[type="text"], .booking_form_div select, .booking_form_div textarea { width: 100% !important;}
}

