  /*------------------------------------------------------------------
[Table of contents]
 - Shop
 - Price
 - Details
 - Shop Item
 - Gallery
- Author:  Andrey Sokoltsov
- Profile:  http://themeforest.net/user/andreysokoltsov
-------------------------------------------------------------------*/
/* Shop */
.status--shop{
    background-image: url(../images/backgrounds/status-shop.jpg);
}
.dark-bg--shop:after{
    background: rgba(0,0,0,0.7);
}
.shop{
    padding: 110px 0;
}
.about-us--shop{
    padding: 0;
}
.about-us--shop h1{
    margin-bottom: 90px;
}
.shop-aside__search{
    margin-bottom: 22px;
}
.woocommerce-product-search input[type='search']{
    width:100%;
    padding: 13px 0 13px 20px;
    border:1px solid #eee;
    font: 400 14px 'Lato',sans-serif;
}
.shop-aside__search input[type='text']::-webkit-input-placeholder {
    color:#aaa;
}
.shop-aside__search input[type='text']::-moz-placeholder{
    color:#aaa;
}
.shop-aside__search input[type='text']:-moz-placeholder{
    color:#aaa;
}
.shop-aside__search input[type='text']:-ms-input-placeholder{
    color:#aaa;
}
.shop-aside__search input[type='text']:focus,.shop-aside__search button:focus{
    outline:none;
}
.woocommerce-product-search input[type='submit']{
     background: rgba(0, 0, 0, 0) url("../images/backgrounds/search.png") no-repeat scroll 0 0;
    border: medium none;
    height: 16px;
    position: absolute;
    right: 45px;
    text-indent: -9999px;
    top: 50px;
    width: 15px;
}
.shop-aside__block{
   padding: 35px 22px;
   margin-bottom:22px ;
}
.shop-title{
    font: 700 14px 'Lato',sans-serif;
    text-transform: uppercase;
    margin: 0 0 35px 0;
    position: relative;
    padding-bottom: 15px;
}
.line--shop{
    width: auto;
}
.line.line--shop > span{
    width:30px;
    margin: 0;
}
.product-categories{
    padding-left: 10px;
}
.product-categories .cat-item{
    margin-bottom: 15px;
  list-style:none;
}
.product-categories .cat-item:last-child{
    margin-bottom: 0;
}
.price-slider{
    height:5px;
    position: relative;
    margin:45px 0 35px 0;
}
.ui-slider-handle{
    position: absolute;
    display: inline-block;
    width:13px;
    height:13px;
    border-radius:100%;
    top:-5px;
}
.ui-slider-handle:focus{
    outline:none;
}
.ui-slider-handle:after{
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:7px;
    height:7px;
    border-radius:100%;
    content:'';
    display: block;
}
.ui-slider-handle:last-of-type{
    margin-left: -1px;
}
.ui-widget-header{
    position: absolute;
    height:100%;
}
/* Price */
.price-num{
    float:left;
    font: 400 14px 'Lato',sans-serif;
    margin-top: 10px;
}
.button--filter{
    width:auto;
    padding: 10px 15px;
}
.item-price{
    font: 700 14px 'Lato',sans-serif;
}
.shop-aside__product{
    margin-bottom: 20px;
}
.shop-aside__product:last-child{
    margin-bottom: 0;
}
.shop-aside__desc{
    margin: 10px 65px 0 0;
}
.shop-aside__desc > h4{
    margin: 0 0 5px 0;
    font: 400 14px 'Lato',sans-serif;
}
.shop-main__head{
    padding-bottom: 10px;
    border-bottom:1px solid #eee;
}
.shop-main__head > h4{
    font: 400 16px 'Lato',sans-serif;
    margin: 13px 0 0 0;
}
.shop-main__head .button{
    padding: 10px 0;
}
.items{
    padding: 40px 0 0 30px;
}
.item-cell{
    margin-bottom: 50px;
}
.item-cell__top{
    height:202px;
    padding-top: 30px;
    border:1px solid #ddd;
    position: relative;
}
.item-cell__img{
    margin-bottom: 10px;
  text-align:center;
}
.item-cell__actions{
    text-align: center;
    font-size:0;
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
}
.item-cell__actions > a{
    width:40px;
    height:40px;
    display: inline-block;
    padding-top: 10px;
}
.item-cell__actions > a span.fa{
    font-size:16px;
}
.add-to-cart{
    border-top:1px solid #888;
    border-left:1px solid #888;
}
/* Details */
.see-detail{
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
}
.see-detail span.fa{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.item-cell__bottom{
    padding: 25px 15px;
    border-bottom:1px solid #eee;
}
.item-title{
    margin: 0 0 20px 0;
    font: 400 16px 'Lato',sans-serif;
}
.stars{
    margin-top: 5px;
}
.star{
    float:right;
   margin:0;
   position: relative;
   display: block;
   color: #707070;
   width: 0px;
   height: 0px;
   border-right:  7.9px solid transparent;
   border-bottom: 5.8px  solid #d8d6d6;
   border-left:   8.3px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.star:before {
   border-bottom: 6.6px solid #d8d6d6;
   border-left: 2.5px solid transparent;
   border-right: 2.5px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -3.75px;
   left: -5.4px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
   
}
.star:after {
   position: absolute;
   display: block;
   color: #707070;
   top: 0.25px;
   left: -8.75px;
   width: 0px;
   height: 0px;
   border-right: 8.3px solid transparent;
   border-bottom: 6.8px solid #707070;
   border-left: 8.3px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
.item-price--old{
    text-decoration:line-through ;
    margin-right: 4px;
    color:#ccc!important;
}
.triangle-sale{
    position: absolute;
    top:0;
    text-transform: uppercase;
     font: 700 10px 'Lato',sans-serif;
}
.triangle-sale span{
    z-index:1000;
    position: absolute;
    display: block;
    top:7px;
    -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   -o-transform:      rotate(-45deg);
}
.triangle-sale:after{
    width: 0;
  height: 0;
  border-top: 41px solid #ce0000; 
  border-right: 41px solid transparent;
    content:'';
    position: absolute;
    top:-1px;
    left:-1px;
}
.items .pagination{
    margin-top: 20px;
}
/* Shop Item */
.shop-item-main{
    padding-bottom: 35px;
    border-bottom:1px solid #eee;
    margin-bottom: 35px;
}
.shop-item-desc{
    margin-right: 20px;
}
.shop-item-desc__review{
    float:left;
    display: block;
    font: 700 11px 'Lato',sans-serif;
    margin:1px 0 0 10px;
}
.shop-item-desc__head > h1{
    margin: 0 0 15px 0;
    font: 700 22px 'Lato',sans-serif;
}
.item-price--main{
    margin-top: 20px;
    font-size:24px;
}
.shop-item-desc__head{
    padding:0 0 35px 5px;
    border-bottom:1px solid #eee;
}
.shop-item-desc__body{
    padding:35px 0 0 5px;
}
.shop-item-desc__body .blog-text{
    margin-bottom: 40px;
}
.shop-item-desc__body form{
    margin-bottom: 60px;
}
.shop-item-desc__body input[type='number']{
    height:50px;
    margin-right: 10px;
    width:90px;
    border:1px solid #eee;
    text-align: center;
    font: 400 18px 'Lato',sans-serif;
    vertical-align: bottom;
}
.shop-item-desc__body input[type='number']:focus,.shop-item-desc__body .button:focus{
    outline: none;
}
.shop-item-desc__body .button{
    height:50px;
}
.shop-item-desc__cat{
    font: 400 12px 'Lato',sans-serif;
}
.shop-item-desc__cat span{
    margin-right: 5px;
}
.shop-item-desc__cat > a{
    margin: 0 1px;
}
/* Gallery */
.gallery__big{
    float:right;
}
.gallery__small{
    text-align: right;
}
.gallery__small a{
    margin-left: 10px;
    border-radius: 4px;
    border:1px solid #ddd;
    display: inline-block;
    padding: 2px;
}
.shop-item .share{
    padding: 0 0 35px 5px;
    margin-bottom: 65px;
}
.aside-tabs--item{
    margin: 0;
}
#rev{
    display: none;
}
.aside-tabs--item {
    margin-bottom: 55px;
}
.aside-tabs--item p{
    margin-bottom: 25px;
}
.aside-tabs--item p:last-child{
    margin-bottom: 0;
}
.input-num{
    float:left;
    height:50px;
    margin-right: 10px;
}
.product-counter input{
    width:60px;
    font: 400 18px 'Lato',sans-serif;
    text-align: center;
    border:none;
    vertical-align: super;
    color:#000;
}
.product-counter__action {
    display: inline-block;
    width:30px;
    margin-top: 8px;
}
.product-counter__action span.fa{
    font-size:20px;
    color:#888;
}
.productCounter {
    margin-bottom: -10px;
    cursor:pointer;
}
.woocommerce-message {
  background: #f4f4f4 none repeat scroll 0 0;
  border-radius: 5px;
  color: #000;
  float: none;
  font-size: 14px;
  margin: 20px auto !important;
  max-width: calc(100% - 30px);
  padding: 10px;
}
.y-cart_form .coupon button {
  margin: 7px 0 10px;
}
.woocommerce form .form-row textarea {
  border: 1px solid #eee; 
  display: block;
  height: 200px; 
  padding: 10px;
  resize: none;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background: #f7f5f7 none repeat scroll 0 0;
  border-radius: 0;
  margin-bottom: 50px;
}
.price_slider{position:relative;margin:45px 0 35px;height:5px;}
.woocommerce-product-search label{display:none;}
.cat-item a{color: #666;text-decoration:none; font: 400 14px "Lato",sans-serif;}
li.cat-item {padding-left: 20px;}
.price_slider_amount button.button{background-color: #333;border:none;width:auto;padding:10px 15px;}
.price_label {
    float: right;
    font: 400 14px "Lato",sans-serif;
    margin-top: 10px;
}
.orderby{border:1px solid #eee;padding:10px;}
ul.product_list_widget{padding:0;}
.shop-item-desc__cat span.posted_in{display:block;margin:10px 0 0 0;}
.shop-item-desc__cat span.posted_in a{color: #666;margin:0 1px;}
.related.products .items{padding:0;}
#coupon_code.input-text{width:150px; }
.shop #respond input#submit, .shop a.button, .shop button.button, .shop input.button{
  background-color: #333;color: #fff;fill: #fff;  border-radius: 0;
    font: 700 14px "Lato",sans-serif;
    padding: 15px 25px;
    text-transform: uppercase;}
.shop-aside__block button.button {
  font: 700 11px "Lato",sans-serif;
  padding: 10px 15px;
}
.cart-subtotal{ line-height: 30px;}
.cart_totals th{padding:0 10px 0 0;}
.cart_totals td{padding:0 10px 0 0;}
.wc-proceed-to-checkout{margin:10px 0 0 0;}
.woocommerce-billing-fields input{border:1px solid #eee;padding:10px;}
.woocommerce-billing-fields select{border:1px solid #eee;padding:10px;}
.select2-container .select2-choice{border:1px solid #eee !important;padding:3px !important;border-radius:none !important;}
#customer_details{margin:0 0 20px 0;}
.attachment-shop_catalog.size-shop_catalog.wp-post-image {
    height: auto;
    width: 259px;
}
.status_abt {
  background-size: cover;
  padding-top: 150px;
}
.thumbnails{margin:10px 0 0 0;}
#tab-description{ border-left: 1px solid #eee;
    border-right: 1px solid #eee;padding: 45px 30px 40px}
#tab-reviews{ border-left: 1px solid #eee;
    border-right: 1px solid #eee;padding: 45px 30px 40px}
.tabs.wc-tabs{border-bottom: 1px solid #eee;margin:0 !important;padding:0;}
.tabs.wc-tabs li{list-style:none;display:inline-block;}
.tabs.wc-tabs li.active a{border-top:3px solid #4fb0fd;border-bottom-color: #fff; color: #333;fill: #333; background-color: #fff;}
.tabs.wc-tabs li a{border-right: 1px solid #eee;padding:20px 32px 15px;font: 700 12px "Lato",sans-serif;color: #888; background-color: #f4f4f4;margin-bottom: -1px; text-transform: uppercase;display:block;}
li.description_tab{border-left:1px solid #eee;}
.images a.woocommerce-main-image{text-align:center;width:100%;display: block;}
.shop-item-desc__head .woocommerce .star-rating{float:left;}
.shop .star-rating span::before{color:#333;}